<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{blog/layout/master}">
<head>
    <meta charset="UTF-8">
    <title>Freya - Coinnich</title>
</head>
<body  >
<main layout:fragment="content" class="main-wrapper">
    <section class="section-5 blog-post-section wf-section">
        <div class="blog-post-container grid">
            <div id="w-node-_5fceba50-c8c5-632f-9926-7d0dbef4cd8f-96db361b" class="column"><h1
                    class="blog-post-heading-1 margin-bot-l">Crypto vs. Fiat: Why Trustlessness Is a Competitive
                Advantage for Web3</h1>
                <p class="text-big w-dyn-bind-empty"></p>
                <div class="rich-text-hero w-richtext"><p>Events in 2023 revealed some of the weaknesses of the
                    global financial system. In March, Silicon Valley Bank (SVB), a prominent bank in the tech
                    industry, suffered a bank run. In May, JPMorgan Chase <a
                            href="https://www.jpmorganchase.com/ir/news/2023/jpmc-acquires-substantial-majority-of-assets-and-assumes-certain-liabilities-of-first-republic-bank#:~:text=New%20York%2C%20May%201%2C%202023,Deposit%20Insurance%20Corporation%20(FDIC)."
                            rel="noopener noreferrer">acquired substantial assets and liabilities</a> of First
                    Republic Bank as it struggled to stay afloat. In Europe,<a
                            href="https://www.cnn.com/2023/03/19/business/credit-suisse-ubs-rescue/index.html"
                            rel="noopener noreferrer"> UBS had to buy out Credit Suisse</a> to forestall financial
                    panic on the continent. Yet 14 years after Bitcoin’s launch, cryptocurrencies are still fighting
                    for a seat at the table.</p></div>
            </div>
            <div id="w-node-_5fceba50-c8c5-632f-9926-7d0dbef4cd94-96db361b" class="column">
                <div class="story-details">
                    <div class="story-details-header">
                        <div class="blog-post-label-small text-dark">Story details</div>
                    </div>
                    <div class="story-details-list">
                        <div class="story-details-item first-one">
                            <div class="text-xs">Type</div>
                            <a href="/types/deep-dive" class="story-type w-inline-block">
                                <div class="label-xs text-dark">Deep dive</div>
                            </a></div>
                        <div class="story-details-divider"></div>
                        <div class="story-details-item">
                            <div class="text-xs">Topic(s)</div>
                            <div class="w-dyn-list">
                                <div role="list" class="topic-list max-width-xxs w-dyn-items">
                                    <div role="listitem" class="blog-post-topic-item w-dyn-item">
                                        <div class="topic-wrapper blog-topic">
                                            <div style="color:hsla(0, 100.00%, 66.27%, 1.00)"
                                                 class="blog-post-label-small">‘
                                            </div>
                                            <a style="color:hsla(0, 100.00%, 66.27%, 1.00)"
                                               href="/blog" class="story-topic-link">Blockchain</a>
                                            <div style="color:hsla(0, 100.00%, 66.27%, 1.00)"
                                                 class="blog-post-label-small">’
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="story-details-divider"></div>

                        <div class="story-details-divider"></div>
                        <div class="story-details-item">
                            <div class="text-xs">Author(s)</div>
                            <div class="w-dyn-list">
                                <div role="list" class="w-dyn-items">
                                    <div role="listitem" class="author-blog w-dyn-item">
                                        <div class="tooltip-left author-tip">
                                            <div class="tooltip-wrapper">
                                                <div class="text-small no-margin">Content Marketing Manager</div>
                                            </div>
                                            <div class="tooltip-chevron-right w-embed">
                                                <svg width="8" height="16" viewBox="0 0 8 16" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M7.69111 7.29289C8.10296 7.68342 8.10296 8.31658 7.69111 8.70711L9.79208e-07 16L2.79826e-07 3.49691e-07L7.69111 7.29289Z"
                                                          fill="#171717"></path>
                                                </svg>
                                            </div>
                                        </div>
                                        <div data-w-id="b6ff2e22-a4e3-9561-cb3b-ab57abcf5672"
                                             class="blog-post-label-small blog-post-author">Max Crawford
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog-post-container grid">
            <div id="w-node-_5fceba50-c8c5-632f-9926-7d0dbef4cdd0-96db361b" class="column">
                <div class="blog-post-image-wrapper"><img
                        src="https://assets-global.website-files.com/5ff21113877dd79ed7913b57/64664efeaccda751a176fb6f_Hiro-blog-fiatvscrypyo.jpg"
                        loading="lazy" alt="" class="blog-post-image"></div>
            </div>
        </div>
        <div class="blog-post-container grid">
            <div id="w-node-_5fceba50-c8c5-632f-9926-7d0dbef4cdd4-96db361b" class="column contents">
                <div class="blog-post-content-wrapper">
                    <div class="blog-post-table-content">
                        <div class="label-xs text-slate-300 margin-bot-xxs">Contents</div>
                        <div class="story-details-divider"></div>
                        <div id="toc" class="table-content-list">
                            <div class="tocitem active"></div>
                            <a class="tocitem" href="#crypto-vs-fiat-a-glance-at-the-key-differences"
                               style="font-weight: 500 !important;">Crypto vs. Fiat: A Glance at the Key
                                Differences</a><a class="tocitem" href="#trust-in-global-banking"
                                                  style="font-weight: 500 !important;">Trust in Global Banking</a><a
                                class="tocitem"
                                href="#crypto-vs-fiat-how-crypto-eliminates-the-need-for-users-to-trust-banks"
                                style="font-weight: 500 !important;">Crypto vs. Fiat: How Crypto Eliminates the Need
                            for Users To Trust Banks</a><a class="tocitem"
                                                           href="#the-current-state-of-trust-in-crypto"
                                                           style="font-weight: 500 !important;">The Current State of
                            Trust in Crypto</a><a class="tocitem"
                                                  href="#trustlessness-is-a-competitive-advantage-for-crypto"
                                                  style="font-weight: 500 !important;">Trustlessness Is a
                            Competitive Advantage for Crypto</a><a class="tocitem"
                                                                   href="#start-building-trustless-applications"
                                                                   style="font-weight: 500 !important;">Start
                            Building Trustless Applications</a></div>
                    </div>
                </div>
            </div>
            <div id="w-node-_5fceba50-c8c5-632f-9926-7d0dbef4cdfc-96db361b" class="column size-100">
                <div id="content" class="rich-text w-richtext"><p>One of the arguments against crypto is that it is
                    backed by speculation and not as stable as fiat currencies, which are backed by governments.
                    ​​However, the recent challenges with the traditional financial system bring us to an inflection
                    point in the crypto vs. fiat debate. If the foundations of fiat are shaking, then crypto has an
                    opportunity to prove its worth as a financial system that doesn’t require users to trust
                    intermediaries that historically have failed them.</p>
                    <h2 id="crypto-vs-fiat-a-glance-at-the-key-differences">Crypto vs. Fiat: A Glance at the Key
                        Differences</h2>
                    <p>Before diving into the crypto vs. fiat debate, let’s first get on the same page and take a
                        moment to define what fiat and crypto are.</p>
                    <p>Fiat currencies are traditional forms of money issued by governments and central banks. They
                        gain market acceptance from user confidence and trust in the issuing authority rather than
                        any intrinsic value in the currency itself (e.g. using gold pieces as a currency). Fiat is
                        typically in the form of banknotes and coins, and their value is established through legal
                        tender laws that mandate their acceptance for goods and services within a specific
                        jurisdiction.</p>
                    <p>In contrast, cryptocurrencies operate independently of banks and central authorities. They
                        gain market acceptance from user confidence and trust in the cryptography and mathetmatic
                        principles used to create the currency rather than trust in a government that issued it.
                        Crypto is an entirely digital currency and has no physical counterpoint. It is a
                        decentralized and distributed network that enables peer-to-peer transactions and the store
                        of value, eliminating the need for traditional banking intermediaries and governments.</p>
                    <p>Now let’s talk about the role of trust in financial systems today.</p>
                    <h2 id="trust-in-global-banking">Trust in Global Banking</h2>
                    <h3>The Role of Banks</h3>
                    <p>Central banks play a crucial role in maintaining trust in the banking system. They are
                        responsible for setting monetary policy, which includes issuing new fiat currency, setting
                        interest rates, and removing cash from circulation to maintain the financial system's
                        stability.</p>
                    <p>Commercial banks act as intermediaries, facilitating the movement and storage of fiat
                        currency within the financial system. Individuals and businesses hold accounts with
                        commercial banks, which allow them to deposit, withdraw, and transfer fiat for various
                        purposes. Banks also serve as custodians of those funds, providing services such as loans,
                        mortgages, and credit facilities.</p>
                    <h3>How the Global Banking System Establishes Trust&nbsp;</h3>
                    <p>The global banking system, as we know it today, has evolved over centuries, shaped by
                        historical events, economic needs, government initiatives, and regulatory frameworks. One
                        way to think about <em>why</em> people trust global banks is that they are backed by
                        governments. People trust the safeguards around banking that protect depositors’ interests
                        and prevent fraudulent practices because those regulations are backed by tangible things
                        like <em>armies</em> and <em>tax dollars</em>.</p>
                    <p>Those safegaurds include things like deposit insurance, providing depositors some guarantee
                        of protection in the event of bank failure (called FDIC Insurance in the US), as well as
                        regulatory bodies like the <a href="https://www.occ.treas.gov/" rel="noopener noreferrer">Office
                            of the Comptroller of the Currency</a> that oversee the behavior of central banks and
                        other financial authorities. If a financial institution behaves incorrectly, such as
                        tampering with the fiat supply in an unapproved way, in a very real sense the full force of
                        the government is there to course-correct or punish that behavior.</p>
                    <p>In short, people trust fiat, and by extension the banks, because the government is there
                        behind them to back them up. But sometimes that trust is misplaced.</p>
                    <h3>Bank Failures Break Trust</h3>
                    <p>While banks serve an integral role in the financial system, bank failures happen more often
                        than you think. Between 2001 and 2023, there have been<a
                                href="https://www.fdic.gov/bank/historical/bank/index.html"
                                rel="noopener noreferrer"> 564 bank failures</a> in the U.S. alone. When a bank
                        fails, it can result in depositors losing their money, eroding confidence in the banking
                        system. This loss of trust can cause depositors to withdraw their money from other banks,
                        creating what is called “a run on the bank” in which all users flock to withdraw their money
                        at once.</p>
                    <p>Bank failures can also lead to contagion, where the failure of one financial institution
                        triggers the collapse of another, and then another (like a row of dominos falling down).
                        That contagion could be triggered by many reasons, such as a run on the bank or one
                        financial institution having assets tied up in the organization that failed. Regardless, the
                        resulting losses of one failure can ripple through the rest of the economy like a spreading
                        disease (hence “contagion”), as other businesses fail in its wake, which can lead to
                        economic slowdown—even a recession.</p>
                    <h3>Bank Mismanagement Breaks Trust Too</h3>
                    <p>In addition to the potential impact of bank failures in the global banking system, some
                        central bank actions could backfire to further erode user trust and the functioning of the
                        financial system. As mentioned above, central banks adjust and implement monetary policy to
                        stabilize the economy (and ideally trigger growth). This work involves adjusting interest
                        rates as well as managing the money supply. But what happens when banks make the wrong
                        adjustment?</p>
                    <p>The results can be disastrous, such as the hyperinflation seen in <a
                            href="https://theconversation.com/inflation-is-spiking-in-zimbabwe-again-why-high-interest-rates-arent-the-answer-187362"
                            rel="noopener noreferrer">Zimbabwe</a> and <a
                            href="https://www.reuters.com/world/americas/venezuela-inflation-accelerating-heightening-risk-return-hyperinflation-2023-01-05/"
                            rel="noopener noreferrer">Venezuela</a>. Even in developed economies, the mismanagement
                        of monetary policies can have severe implications. For example, the Greek government's
                        fiscal mismanagement led to <a
                                href="https://www.cfr.org/timeline/greeces-debt-crisis-timeline"
                                rel="noopener noreferrer">a debt crisis</a> that contributed to a loss of confidence
                        in the country's economy until the European Central Bank stepped in.</p>
                    <p>These anecdotes show that while fiat is backed by large resources, those resources still
                        sometimes make mistakes. So what would money look like if you didn’t have to trust a
                        failable foundation? We thought you’d never ask.</p>
                    <h2 id="crypto-vs-fiat-how-crypto-eliminates-the-need-for-users-to-trust-banks">Crypto vs. Fiat:
                        How Crypto Eliminates the Need for Users To Trust Banks</h2>
                    <p>Crypto is a "trustless" financial system because unlike fiat it doesn't require users to
                        trust a third party like a bank. There’s no need for a third party because every transaction
                        is publicly verifiable. You don’t need a centralized authority to settle disputes or to
                        determine the state of the ledger (who owns what). That makes crypto “trustless” and puts
                        crypto in a better position than fiat long term because it removes central points of
                        failure.&nbsp;</p>
                    <h3>Mathematics and Code</h3>
                    <p>Cryptocurrencies are dictated by mathematics and code. Everyone knows precisely how much of a
                        particular currency there is, how much there will be in the future, and how quickly new
                        cryptocurrency is minted. This predictability and transparency is in contrast to fiat
                        currencies, in which central banks can decide to print more money whenever they want.</p>
                    <blockquote>If you trust the code, you trust the crypto.</blockquote>
                    <p>This transparency also applies to the record of transactions. All transactions are stored on
                        a public blockchain that is maintained by a network of worldwide users. All of that
                        information is publicly verifiable, removing the need for an arbiter. Instead, that history
                        of transactions is processed and confirmed by the code, using a “consensus mechanism” for
                        this decentralized network to come to an agreement on the order of transactions.</p>
                    <p>Similarly, smart contracts in DeFi applications further remove trust from the conversation,
                        enabling money to move through various financial instruments autonomously. If you trust the
                        code, you trust the crypto, and the transparency of the ledgers and mathematical proofs
                        ensure there’s no room for fraud or manipulation.</p>
                    <h3>Self-Custody</h3>
                    <p>One of the challenges with fiat is that, in general, you don’t have custody of all your
                        money—most people don’t keep all of the money as cash under their mattress. Instead, they
                        keep their money at a bank. But there’s a problem with that, and it’s one we touched on in
                        the beginning of this post: bank failures.</p>
                    <p>Banks can fail for many reasons, be it a run on the bank, taking on <a
                            href="https://www.vice.com/en/article/m7bqzp/signature-bank-collapse-nyc-housing-predatory-landlords"
                            rel="noopener noreferrer">too many risky loans</a>, <a
                            href="https://www.spglobal.com/marketintelligence/en/news-insights/latest-news-headlines/liquidity-deposit-concentration-among-regulatory-targets-after-bank-failures-74764103"
                            rel="noopener noreferrer">not diversifying enough</a>, or <a
                            href="https://www.spglobal.com/marketintelligence/en/news-insights/blog/bank-failures-the-importance-of-liquidity-and-funding-data"
                            rel="noopener noreferrer">poor liquidity management</a>. Those failures put people’s
                        money at risk. If you keep money with a custodian, and the custodian fails, there is a
                        non-zero chance you never get that money back.</p>
                    <p>Crypto takes the opposite approach and focuses on self-sovereignty—users hold all of their
                        funds themselves, removing the risk of another entity misusing their money or failing. This
                        is where one of crypto’s popular taglines, “be your own bank”, comes from.</p>
                    <h3>P2P Network</h3>
                    <p>Crypto is a purely peer-to-peer (P2P) network, meaning all users directly transact with each
                        other. There is no middleman processing transactions. This is true for cash fiat as well,
                        but electronically, fiat moves around through banks and other centralized providers.</p>
                    <p>With the rise of smart contracts and DeFi, users have access to a fully decentralized
                        financial system where users can interact with each other directly through code and apps,
                        all without intermediaries taking fees or creating central points of failure.</p>
                    <p>Crypto enables a robust global network where users can cheaply send transactions to each
                        other with fast settlement times, and there are no authorities preventing users interacting
                        with each other or from being able to confiscate their funds.</p>
                    <h2 id="the-current-state-of-trust-in-crypto">The Current State of Trust in Crypto</h2>
                    <p>Trust in crypto is a tricky thing, in large part because the space is still young. In theory,
                        trust is absolute: the code is public and behaves a certain way, and that, as they say, is
                        that. However, in practice, there are several challenges with trust in crypto today.</p>
                    <p>To start with, self-custody is a problem for many users. People often lose the keys to their
                        wallets, and then they are out of luck. You don't have to trust anyone else in crypto, sure,
                        but you do have to trust yourself. That puts a lot of responsibility on the user, and today,
                        they are trained to be able to rely on and trust the bank to look after their funds. This
                        doesn’t make crypto particularly welcoming to new users or make them feel it is
                        trustworthy.</p>
                    <p>Second, crypto requires users to “trust” the code. Without middlemen or controlling
                        authorities, there is no arbitration when things go wrong. For blockchains that have been
                        around for a long time like Bitcoin and Ethereum, this isn’t a problem—they are battle
                        tested and unlikely to be hacked or compromised—but for many apps and protocols, this is a
                        trust problem.</p>
                    <p>Hacks in DeFi are common as hackers exploit loopholes found in public DeFi contracts and
                        steal users’ money. The code and data are transparent in crypto, but that’s a double edged
                        sword. Just as it means users can verify their money is there or that a protocol is serving
                        its intended function, it also exposes any bugs to those who may wish to take advantage of
                        them.&nbsp;</p>
                    <p>Third, just because crypto is decentralized doesn't mean centralized companies aren't built
                        on top of it. To combat the user experience issues described above, many centralized
                        businesses exist on top of crypto. Some of those are reliable; others are not. Recent
                        failures, including the <a
                                href="https://www.theguardian.com/technology/2022/nov/18/how-did-crypto-firm-ftx-collapse"
                                rel="noopener noreferrer">FTX crash</a>, and the contagion that followed were caused
                        by centralized companies mismanaging user funds and making risky investments.</p>
                    <p>That fallout has damaged the public’s trust in crypto today, and it will take years for that
                        trust to recover. However, crypto’s fundamental properties of transparency, security, and
                        immutability will restore that trust in time. As builders create great products and continue
                        to test and improve DeFi primitives, crypto will win.</p>
                    <h2 id="trustlessness-is-a-competitive-advantage-for-crypto">Trustlessness Is a Competitive
                        Advantage for Crypto</h2>
                    <p>From an economic standpoint, the current challenges brewing in the global banking system
                        provide an opportunity to strengthen crypto’s position as an alternative to fiat money.
                        According to<a
                                href="https://www.edelman.com/sites/g/files/aatuss191/files/2023-03/2023%20Edelman%20Trust%20Barometer%20Global%20Report%20FINAL.pdf"
                                rel="noopener noreferrer"> Edelman's 2023 Trust Barometer</a>, "economic optimism is
                        collapsing around the world, with 24 of 28 countries seeing all-time lows in the number of
                        people who think their families will be better off in five years." The worst part—inflation
                        is one of the top reasons for economic pessimism, on par with existential threats like
                        nuclear war.&nbsp;</p>
                    <p>Some cryptocurrencies are deflationary, which combats that fear, and their fixed supply makes
                        a hedge against inflation. And generally, the fact that no central authority controls
                        cryptocurrencies means they are not subject to arbitrary changes in monetary policies. That
                        insulates crypto from many of the concerns around inflation and fiat mismanagement, and
                        Web3's transparency makes it easier to win the confidence of the public.</p>
                    <p>However, even though crypto is a financial system insulated from the fundamental issues of
                        the global monetary system, the global economy has yet to accept crypto as legal tender. The
                        Web3 industry is less than 15 years old and has a long road ahead to convince users that
                        crypto is money and gain widespread adoption as legal tender. As a reminder, the United
                        States government is more than 200 years old—it has guaranteed the U.S. dollar for long
                        enough for users to not worry about the validity of the USD as a medium of exchange.&nbsp;&nbsp;</p>
                    <p>Today, DeFi apps currently have about<a href="https://defillama.com/"
                                                               rel="noopener noreferrer"> $53 billion in TVL</a>
                        (total value locked), and that early success has shown a demand for alternative financial
                        systems across lending, insurance, digital assets, and more. As crypto matures, that success
                        will continue to grow over time.</p>
                    <h2 id="start-building-trustless-applications">Start Building Trustless Applications</h2>
                    <p>We are still in the early days of the crypto economy. As Web3 adoption grows, crypto's
                        competitive advantage over fiat will continue to become apparent. That advantage will be
                        rooted in the fact that crypto is trustless money, and Web3 enables developers to put this
                        new form of money to work in a wide range of applications.</p>
                    <p>If you’re ready to get started, we wrote a guide to Web3 development that accelerates your
                        learning to become one of the earliest builders in the new trustless economy. Ready to get
                        started?</p></div>
                <div id="light-box" class="lightbox-wrapper"><a href="#"
                                                                class="lightbox-link w-inline-block w-condition-invisible w-dyn-bind-empty w-lightbox"
                                                                aria-label="open lightbox"
                                                                aria-haspopup="dialog"><img src="" loading="lazy"
                                                                                            alt=""
                                                                                            class="lightbox-image w-dyn-bind-empty">
                    <div class="lightbox-description-text w-dyn-bind-empty"></div>
                    <script type="application/json" class="w-json">{
                        "items": [],
                        "group": ""
                    }</script>
                </a></div>
                <div class="contains-code"></div>
            </div>

        </div>
    </section>
</main>

</body>
</html>
