<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{blog/layout/master}">
<head>
    <meta charset="UTF-8">
    <title>deconstructing-the-relationship</title>
</head>
<body>
<main layout:fragment="content" class="main-wrapper">
    <section class="section-5 blog-post-section wf-section">
        <div class="blog-post-container grid">
            <div id="w-node-_5fceba50-c8c5-632f-9926-7d0dbef4cd8f-96db361b" class="column"><h1
                    class="blog-post-heading-1 margin-bot-l">Deconstructing the Relationship Between the Metaverse and
                Web3</h1>
                <p class="text-big w-dyn-bind-empty"></p>
                <div class="rich-text-hero w-richtext"><p>Both Web3 and the metaverse have skyrocketed in popularity,
                    attracting large amounts of funding from venture capital. In 2022, Web3 was the <a
                            href="https://research-backend.cointelegraph.com/uploads/attachments/cldak5v6e123l2rqnad6qbimm-ct-vc-report-2022-q4-2.pdf"
                            rel="noopener noreferrer">most active investment sector</a> for crypto VCs, attracting over
                    a third of deals worth a total of $9.2B. Similarly, VCs injected <a
                            href="https://www.nasdaq.com/articles/what-metaverse-venture-investment-in-2022-can-tell-us-about-2023"
                            rel="noopener noreferrer">almost $2 billion</a> into metaverse projects in 2022. But what
                    exactly are Web3 and the metaverse?</p></div>
            </div>
            <div id="w-node-_5fceba50-c8c5-632f-9926-7d0dbef4cd94-96db361b" class="column">
                <div class="story-details">
                    <div class="story-details-header">
                        <div class="blog-post-label-small text-dark">Story details</div>
                    </div>
                    <div class="story-details-list">
                        <div class="story-details-item first-one">
                            <div class="text-xs">Type</div>
                            <a href="/types/deep-dive" class="story-type w-inline-block">
                                <div class="label-xs text-dark">Deep dive</div>
                            </a></div>
                        <div class="story-details-divider"></div>
                        <div class="story-details-item">
                            <div class="text-xs">Topic(s)</div>
                            <div class="w-dyn-list">
                                <div role="list" class="topic-list max-width-xxs w-dyn-items">
                                    <div role="listitem" class="blog-post-topic-item w-dyn-item">
                                        <div class="topic-wrapper blog-topic">
                                            <div style="color:hsla(0, 100.00%, 66.27%, 1.00)"
                                                 class="blog-post-label-small">‘
                                            </div>
                                            <a style="color:hsla(0, 100.00%, 66.27%, 1.00)"
                                               href="/blog-categories/blockchain"
                                               class="story-topic-link">Blockchain</a>
                                            <div style="color:hsla(0, 100.00%, 66.27%, 1.00)"
                                                 class="blog-post-label-small">’
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="story-details-divider"></div>

                        <div class="story-details-divider"></div>
                        <div class="story-details-item">
                            <div class="text-xs">Author(s)</div>
                            <div class="w-dyn-list">
                                <div role="list" class="w-dyn-items">
                                    <div role="listitem" class="author-blog w-dyn-item">
                                        <div class="tooltip-left author-tip">
                                            <div class="tooltip-wrapper">
                                                <div class="text-small no-margin">Content Marketing Manager</div>
                                            </div>
                                            <div class="tooltip-chevron-right w-embed">
                                                <svg width="8" height="16" viewBox="0 0 8 16" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M7.69111 7.29289C8.10296 7.68342 8.10296 8.31658 7.69111 8.70711L9.79208e-07 16L2.79826e-07 3.49691e-07L7.69111 7.29289Z"
                                                          fill="#171717"></path>
                                                </svg>
                                            </div>
                                        </div>
                                        <div data-w-id="b6ff2e22-a4e3-9561-cb3b-ab57abcf5672"
                                             class="blog-post-label-small blog-post-author">Max Crawford
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog-post-container grid">
            <div id="w-node-_5fceba50-c8c5-632f-9926-7d0dbef4cdd0-96db361b" class="column">
                <div class="blog-post-image-wrapper"><img
                        src="https://assets-global.website-files.com/5ff21113877dd79ed7913b57/642ee3948e774e7af653578e_Hiro-blog-metaweb3.jpg"
                        loading="lazy" alt="" class="blog-post-image"></div>
            </div>
        </div>
        <div class="blog-post-container grid">
            <div id="w-node-_5fceba50-c8c5-632f-9926-7d0dbef4cdd4-96db361b" class="column contents">
                <div class="blog-post-content-wrapper">
                    <div class="blog-post-table-content">
                        <div class="label-xs text-slate-300 margin-bot-xxs">Contents</div>
                        <div class="story-details-divider"></div>
                        <div id="toc" class="table-content-list">
                            <div class="tocitem active"></div>
                            <a class="tocitem" href="#metaverse-vs-web3-whats-the-difference"
                               style="font-weight: 500 !important;">Metaverse vs. Web3: What's the Difference?</a><a
                                class="tocitem"
                                href="#three-areas-of-differentiation-between-web3-and-the-metaversenbsp"
                                style="font-weight: 500 !important;">Three Areas of Differentiation Between Web3 and the
                            Metaverse&nbsp;</a><a class="tocitem" href="#use-cases-of-web3-and-the-metaverse"
                                                  style="font-weight: 500 !important;">Use Cases of Web3 and the
                            Metaverse</a><a class="tocitem" href="#how-the-metaverse-and-web3-will-impact-each-other"
                                            style="font-weight: 500 !important;">How the Metaverse and Web3 Will Impact
                            Each Other</a><a class="tocitem" href="#should-you-build-on-web3-or-the-metaverse"
                                             style="font-weight: 500 !important;">Should You Build on Web3 or the
                            Metaverse?</a></div>
                    </div>
                </div>
            </div>
            <div id="w-node-_5fceba50-c8c5-632f-9926-7d0dbef4cdfc-96db361b" class="column size-100">
                <div id="content" class="rich-text w-richtext"><h2 id="metaverse-vs-web3-whats-the-difference">Metaverse
                    vs. Web3: What's the Difference?</h2>
                    <p>While Web3 and the metaverse share certain technologies and aspirations in common, they are
                        ultimately pursuing different goals. Web3 focuses on creating a more decentralized and
                        transparent internet through blockchain, while the metaverse describes universal and immersive
                        spaces created with virtual and augmented reality. Let’s unpack that further.</p>
                    <h3>What Is Web3?</h3>
                    <p>“Web3” is the <a href="https://www.hiro.so/blog/the-reign-of-centralized-apps-is-ending">next
                        generation of the internet</a>, one in which individuals have permissionless access to use and
                        own parts of the digital economy. In contrast to Web2 (the internet as we know it today), which
                        is owned and controlled by Big Tech, Web3 runs on a decentralized network of nodes spread all
                        over the world—it isn’t owned or controlled by a single entity, but by the broader community.
                        Web3 applications enable users to engage in peer-to-peer (P2P) activities without going through
                        corporations or any other middlemen.&nbsp;</p>
                    <h3>What Is the Metaverse?</h3>
                    <p>The “metaverse” is a term that describes immersive digital spaces, created using a combination of
                        virtual reality (VR) and augmented reality (AR) technologies. What exactly that translates to in
                        practice is <a href="https://www.wired.com/story/what-is-the-metaverse/"
                                       rel="noopener noreferrer">still being defined</a>, and many companies are
                        exploring what shape a metaverse can and should take or whether there will be <a
                                href="https://www.forbes.com/sites/forbestechcouncil/2022/03/22/a-multiverse-of-metaverses/?sh=24d1bc407475"
                                rel="noopener noreferrer">multiple metaverses</a>.&nbsp;</p>
                    <h2 id="three-areas-of-differentiation-between-web3-and-the-metaversenbsp">Three Areas of
                        Differentiation Between Web3 and the Metaverse&nbsp;</h2>
                    <p>Let’s take a closer look at some of the key differences between Web3 and the metaverse, including
                        their fundamental concepts, ownership models, and underlying technology.</p>
                    <h3>Fundamental Concept</h3>
                    <p>The fundamental concept of Web3 is one of removing middlemen: what if you could create digital
                        money without a government? What if you could create a financial product without a bank? What if
                        you could create a B2B company without using tools owned by other big companies that could
                        terminate your service without warning? The concept of Web3 is about removing gatekeepers and
                        creating durable, community-owned systems that can be accessed by anyone around the world.</p>
                    <p>If Web3 is about changing the power dynamics and ownership of the existing internet, the
                        metaverse is about reimagining how we might interact with digital spaces in the first place.
                        What that means specifically is still evolving—is it interactive digital spaces (like those
                        found in science-fiction works like The Matrix or Ready Player One)? Is the metaverse instead a
                        hybrid space between the digital and the real that leverages AR tech to create more rich and
                        information-dense environments? At a high level, the metaverse is about immersion: how do we
                        bridge the digital to the real and make digital spaces more immersive to users?</p>
                    <h3>Ownership</h3>
                    <p>Web3 facilitates user-owned economies and applications. Web enthusiasts believe that people who
                        contribute to or use Web3 apps should get a <a
                                href="https://www.hiro.so/blog/the-reign-of-centralized-apps-is-ending">share of the
                            economic value</a> that such apps generate. Web3 aims to remove the <a
                                href="https://www.washingtonpost.com/technology/interactive/2021/amazon-apple-facebook-google-acquisitions/"
                                rel="noopener noreferrer">excessive influence Big Tech has on the internet</a> and put
                        that power back in the hands of users.</p>
                    <p>The metaverse has no such egalitarian ideals. The goal of metaverse projects is to create
                        immersive digital experiences, but there is less concern about who owns and controls those
                        experiences. For example, private companies like Microsoft and Meta are at the forefront of
                        building the metaverse and setting <a
                                href="https://www.coindesk.com/tech/2022/06/22/tech-giants-create-metaverse-standards-forum-for-software-and-terminology-standards/"
                                rel="noopener noreferrer">new industry standards</a> for metaverse interoperability.&nbsp;
                    </p>
                    <h3>Underlying Technology&nbsp;</h3>
                    <p>Web3 is built with blockchains and smart contracts.</p>
                    <ul role="list">
                        <li><strong>Blockchains </strong>are distributed digital ledgers for storing information
                            securely and transparently—anyone can look at a blockchain and verify information on it, and
                            anyone can write new information to it. Public blockchains like <a
                                    href="https://ethereum.org/en/" rel="noopener noreferrer">Ethereum</a> and <a
                                    href="https://www.stacks.co/" rel="noopener noreferrer">Stacks</a> are
                            permissionless; there is no company or controlling entity determining who can access them.
                            Blockchains are the foundation of Web3; you couldn’t make trustless apps if you don’t have a
                            trustless way to store information.&nbsp;
                        </li>
                    </ul>
                    <ul role="list">
                        <li><strong>Smart contracts</strong> are self-executing programs that take predefined actions
                            based on predefined triggers. You can create them using <a
                                    href="https://www.hiro.so/blog/web3-programming-languages-clarity-vs-solidity">Web3
                                programming languages</a> like <a href="https://docs.soliditylang.org/en/v0.8.19/"
                                                                  rel="noopener noreferrer">Solidity</a>, <a
                                    href="https://clarity-lang.org/" rel="noopener noreferrer">Clarity</a>, or <a
                                    href="https://www.rust-lang.org/" rel="noopener noreferrer">Rust</a>. Since
                            blockchains do not have central authorities to determine outcomes, smart contracts enforce
                            the rules of user behavior (for example, a smart contract would be used in a DeFi
                            application to force users to abide by a specific loan’s terms). If a blockchain provides a
                            transparent data layer for Web3, you can think of smart contracts as a transparent logic
                            layer, where users can also verify a smart contract’s code and ensure the contract does what
                            it claims to do.
                        </li>
                    </ul>
                    <p>In contrast, metaverse projects are powered by a very different tech stack, namely virtual
                        reality (VR), augmented reality (AR), and gaming engines.&nbsp;</p>
                    <ul role="list">
                        <li><strong>Virtual reality:</strong> VR tech allows you to create or simulate three-dimensional
                            environments that users can experience and navigate through as if they were physically
                            there. For example, a user puts on a VR headset and suddenly they are looking around the
                            surface of Saturn. VR platforms include the open-source <a href="https://aframe.io/"
                                                                                       rel="noopener noreferrer">A-Frame</a>,
                            Meta's <a href="https://www.meta.com/quest/products/quest-2/" rel="noopener noreferrer">Quest</a>,
                            and Alphabet's <a href="https://developers.google.com/cardboard" rel="noopener noreferrer">Cardboard</a>.
                        </li>
                        <li><strong>Augmented reality:</strong> AR tech overlays digital information onto the real world
                            to create mixed reality experiences. For example, a user puts on an AR headset, and they can
                            suddenly see a digital person standing in the room next to them. Examples of AR platforms
                            include Apple's <a href="https://developer.apple.com/augmented-reality/"
                                               rel="noopener noreferrer">ARKit</a>, Alphabet's <a
                                    href="https://developers.google.com/ar" rel="noopener noreferrer">ARCore</a>, and <a
                                    href="https://unity.com/unity/features/ar" rel="noopener noreferrer">Unity AR</a>
                            from the Unity AR Foundation.
                        </li>
                        <li><strong>Gaming engines:</strong> These software development platforms provide developers
                            with tools and resources to create video games. A game engine typically includes a graphics
                            engine, audio engine, scripting tools, and other components. In the metaverse industry, game
                            engines can help teams build metaverse experiences more quickly by handling low-level
                            programming tasks. Examples of popular gaming engines include <a
                                    href="https://www.unrealengine.com/en-US" rel="noopener noreferrer">Unreal
                                Engine</a>, <a href="https://www.cryengine.com/" rel="noopener noreferrer">CRYENGINE</a>,
                            and <a href="https://godotengine.org/" rel="noopener noreferrer">Godot</a>.&nbsp;
                        </li>
                    </ul>
                    <h2 id="use-cases-of-web3-and-the-metaverse">Use Cases of Web3 and the Metaverse</h2>
                    <p>These two different tech stacks have very different use cases for individual consumers. Here’s
                        what Web3 and metaverse can mean in practice (including but not limited to!):&nbsp;</p>
                    <h3>Web3 Use Cases&nbsp;</h3>
                    <ol role="list">
                        <li><strong>Decentralized finance (DeFi)</strong>: DeFi is a fast-growing sector of Web3 that is
                            creating a more open and transparent financial system. DeFi applications enable peer-to-peer
                            networks without traditional financial intermediaries that operate 24/7/365. Some examples
                            of DeFi applications include decentralized exchanges like <a href="https://www.sushi.com"
                                                                                         rel="noopener noreferrer">SushiSwap</a>,
                            lending platforms like <a href="https://compound.finance"
                                                      rel="noopener noreferrer">Compound</a>, and investment platforms
                            like <a href="https://syndicate.io" rel="noopener noreferrer">Syndicate</a>.
                        </li>
                        <li><strong>Content sharing and ownership</strong>: In Web3 content platforms, creators can be
                            better rewarded for their work and have more control over its use. For example, content
                            platforms like <a href="https://mirror.xyz/" rel="noopener noreferrer">Mirror</a> and <a
                                    href="https://www.sigle.io/" rel="noopener noreferrer">Sigle</a> empower writers to
                            build new revenue streams around their content. Platforms like <a href="https://opensea.io/"
                                                                                              rel="noopener noreferrer">OpenSea</a>,
                            <a href="https://rarible.com/" rel="noopener noreferrer">Rarible</a>, and <a
                                    href="https://gamma.io/" rel="noopener noreferrer">Gamma</a> enable creators to sell
                            digital artwork and other collectibles as NFTs (non-fungible tokens).
                        </li>
                        <li><strong>Decentralized social networks</strong>: Web3-powered social networks could reduce
                            the influence of centralized social media platforms (like Meta, Twitter, and others) and
                            give users more control over their data and content. Some examples of decentralized social
                            networks include <a href="https://mastodon.social/explore" rel="noopener noreferrer">Mastodon</a>,
                            <a href="https://www.deso.com/" rel="noopener noreferrer">DeSo</a>, and <a
                                    href="https://scuttlebutt.nz/" rel="noopener noreferrer">Scuttlebutt</a>.
                        </li>
                    </ol>
                    <h3>Metaverse Use Cases&nbsp;</h3>
                    <ol role="list">
                        <li><strong>Gaming</strong>: The most prominent use cases of the metaverse today are in the
                            gaming industry. Metaverse projects like <a href="https://www.roblox.com/"
                                                                        rel="noopener noreferrer">Roblox</a>, <a
                                    href="https://www.sandbox.game/en/" rel="noopener noreferrer">Sandbox</a>, and <a
                                    href="https://www.meta.com/gb/en/horizon-worlds/" rel="noopener noreferrer">Meta
                                Horizon Worlds</a> are pioneering new immersive gaming experiences shared between
                            players in virtual environments.&nbsp;
                        </li>
                        <li><strong>Virtual events</strong>: The metaverse is also being used to create virtual events
                            and conferences that are more immersive and interactive than traditional online events.
                            Travis Scott's <a href="https://www.bbc.co.uk/news/technology-52410647"
                                              rel="noopener noreferrer">Fortnite concert </a>and <a
                                    href="https://www.vanmoof.com/news/en-GB/188317-inside-vanmoof-s-game-changing-launch-success"
                                    rel="noopener noreferrer">VanMoof's e-bike launch</a> are examples of how the
                            metaverse could enhance the experience of event attendees.&nbsp;
                        </li>
                        <li><strong>Virtual commerce</strong>: The metaverse can be used to create virtual stores and
                            design shopping experiences that are more engaging than traditional e-commerce. The fashion
                            industry already experiments with virtual shopping through projects like the <a
                                    href="https://blog.roblox.com/2021/05/gucci-garden-experience/"
                                    rel="noopener noreferrer">Gucci Garden Experience</a>, <a
                                    href="https://www.fortnite.com/news/high-digital-fashion-drops-into-fortnite-with-balenciaga"
                                    rel="noopener noreferrer">Balenciaga's Fit Sets</a>, and <a
                                    href="https://electriccity.co/" rel="noopener noreferrer">Selfridges'
                                Electric/City</a>.&nbsp;
                        </li>
                    </ol>
                    <h2 id="how-the-metaverse-and-web3-will-impact-each-other">How the Metaverse and Web3 Will Impact
                        Each Other</h2>
                    <p>It is possible to have a Web3 platform without any elements of the metaverse and vice versa.
                        However, in some cases, Web3 and the metaverse are intertwined, and both industries will likely
                        continue to influence each other as they go mainstream and enable new forms of digital
                        economies.&nbsp;</p>
                    <p>Over time, some metaverse projects may rely on the underlying technology of Web3 to power their
                        concept of the metaverse. For example, you can imagine how data transparency and digital
                        scarcity may bring value to certain features of an interoperable metaverse, such as virtual real
                        estate or clothing. Similarly, Web3 may embrace the metaverse’s immersive environments. It’s
                        like the early days of the internet: it’s unclear how exactly these technologies will evolve,
                        but it is easy to envision worlds in which they are compatible.</p>
                    <h2 id="should-you-build-on-web3-or-the-metaverse">Should You Build on Web3 or the Metaverse?</h2>
                    <p>If it's not already clear based on what you've read, the answer depends on what you want to
                        build. Both Web3 and the metaverse have captured the public's eye, and both will play
                        foundational roles in the digital world in the future.&nbsp;</p>
                    <p>If you care about a decentralized future, we recently wrote a free comprehensive guide to help
                        people start their Web3 development journey. It covers everything you need to know about Web3
                        ecosystems, programming languages, infrastructure, and more.&nbsp;</p></div>
                <div id="light-box" class="lightbox-wrapper"><a href="#"
                                                                class="lightbox-link w-inline-block w-condition-invisible w-dyn-bind-empty w-lightbox"
                                                                aria-label="open lightbox" aria-haspopup="dialog"><img
                        src="" loading="lazy" alt="" class="lightbox-image w-dyn-bind-empty">
                    <div class="lightbox-description-text w-dyn-bind-empty"></div>
                    <script type="application/json" class="w-json">{
                        "items": [],
                        "group": ""
                    }</script>
                </a></div>
                <div class="contains-code"></div>
            </div>

        </div>
    </section>

</main>
</body>
</html>