<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{blog/layout/master}">
<head>
    <meta charset="UTF-8">
    <title>defi-kyc-the-contradiction-of-knowing-your-customer-in-web3</title>
</head>
<body>
<main layout:fragment="content"  class="main-wrapper">
    <section class="section-5 blog-post-section wf-section">
        <div class="blog-post-container grid">
            <div id="w-node-_5fceba50-c8c5-632f-9926-7d0dbef4cd8f-96db361b" class="column"><h1
                    class="blog-post-heading-1 margin-bot-l">DeFi KYC: The Contradiction of Knowing Your Customer in
                Web3</h1>
                <p class="text-big w-dyn-bind-empty"></p>
                <div class="rich-text-hero w-richtext"><p>In traditional finance, the user’s identity is known, and
                    transaction records are private. In DeFi, the user’s identity is unknown, and transaction records
                    are public. DeFi KYC attempts to merge compliance with Know Your Customer (KYC) and Anti-Money
                    Laundering (AML) regulations with DeFi’s principles of user privacy and open access. As you can
                    imagine, that’s easier said than done.</p></div>
            </div>
            <div id="w-node-_5fceba50-c8c5-632f-9926-7d0dbef4cd94-96db361b" class="column">
                <div class="story-details">
                    <div class="story-details-header">
                        <div class="blog-post-label-small text-dark">Story details</div>
                    </div>
                    <div class="story-details-list">
                        <div class="story-details-item first-one">
                            <div class="text-xs">Type</div>
                            <a href="/types/deep-dive" class="story-type w-inline-block">
                                <div class="label-xs text-dark">Deep dive</div>
                            </a></div>
                        <div class="story-details-divider"></div>
                        <div class="story-details-item">
                            <div class="text-xs">Topic(s)</div>
                            <div class="w-dyn-list">
                                <div role="list" class="topic-list max-width-xxs w-dyn-items">
                                    <div role="listitem" class="blog-post-topic-item w-dyn-item">
                                        <div class="topic-wrapper blog-topic">
                                            <div style="color:hsla(0, 100.00%, 66.27%, 1.00)"
                                                 class="blog-post-label-small">‘
                                            </div>
                                            <a style="color:hsla(0, 100.00%, 66.27%, 1.00)"
                                               href="/blog-categories/blockchain"
                                               class="story-topic-link">Blockchain</a>
                                            <div style="color:hsla(0, 100.00%, 66.27%, 1.00)"
                                                 class="blog-post-label-small">’
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="story-details-divider"></div>

                        <div class="story-details-divider"></div>
                        <div class="story-details-item">
                            <div class="text-xs">Author(s)</div>
                            <div class="w-dyn-list">
                                <div role="list" class="w-dyn-items">
                                    <div role="listitem" class="author-blog w-dyn-item">
                                        <div class="tooltip-left author-tip">
                                            <div class="tooltip-wrapper">
                                                <div class="text-small no-margin">Content Marketing Manager</div>
                                            </div>
                                            <div class="tooltip-chevron-right w-embed">
                                                <svg width="8" height="16" viewBox="0 0 8 16" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M7.69111 7.29289C8.10296 7.68342 8.10296 8.31658 7.69111 8.70711L9.79208e-07 16L2.79826e-07 3.49691e-07L7.69111 7.29289Z"
                                                          fill="#171717"></path>
                                                </svg>
                                            </div>
                                        </div>
                                        <div data-w-id="b6ff2e22-a4e3-9561-cb3b-ab57abcf5672"
                                             class="blog-post-label-small blog-post-author">Max Crawford
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog-post-container grid">
            <div id="w-node-_5fceba50-c8c5-632f-9926-7d0dbef4cdd0-96db361b" class="column">
                <div class="blog-post-image-wrapper"><img
                        src="https://assets-global.website-files.com/5ff21113877dd79ed7913b57/6423129e6efb2c9746ff6b64_Hiro-blog-kyc.jpg"
                        loading="lazy" alt="" class="blog-post-image"></div>
            </div>
        </div>
        <div class="blog-post-container grid">
            <div id="w-node-_5fceba50-c8c5-632f-9926-7d0dbef4cdd4-96db361b" class="column contents">
                <div class="blog-post-content-wrapper">
                    <div class="blog-post-table-content">
                        <div class="label-xs text-slate-300 margin-bot-xxs">Contents</div>
                        <div class="story-details-divider"></div>
                        <div id="toc" class="table-content-list">
                            <div class="tocitem active"></div>
                            <a class="tocitem" href="#what-is-kyc" style="font-weight: 500 !important;">What Is KYC?</a><a
                                class="tocitem" href="#the-“contradiction”-of-defi-kyc"
                                style="font-weight: 500 !important;">The “Contradiction” of DeFi KYC</a><a
                                class="tocitem" href="#why-defi-kyc-benefits-both-founders-and-usersnbsp"
                                style="font-weight: 500 !important;">Why DeFi KYC Benefits Both Founders and
                            Users&nbsp;</a><a class="tocitem"
                                              href="#5-things-to-keep-in-mind-when-implementing-kyc-solutions"
                                              style="font-weight: 500 !important;">5 Things to Keep in Mind When
                            Implementing KYC Solutions</a><a class="tocitem"
                                                             href="#get-started-with-your-first-web3-app"
                                                             style="font-weight: 500 !important;">Get Started With Your
                            First Web3 App</a></div>
                    </div>
                </div>
            </div>
            <div id="w-node-_5fceba50-c8c5-632f-9926-7d0dbef4cdfc-96db361b" class="column size-100">
                <div id="content" class="rich-text w-richtext"><h2 id="what-is-kyc">What Is KYC?</h2>
                    <p>KYC is the process by which a financial service provider confirms the identity of its customers
                        and understands their risk profiles. It helps prevent fraud, money laundering, and terror
                        financing activities from going through the financial system.&nbsp;</p>
                    <p>KYC typically occurs when a user opens an account with a financial institution and is required to
                        share their personal information. Depending on the financial institution, this information may
                        then go on to a centralized global database or packaged and sold to third parties.</p>
                    <p>Based on that information, the KYC process can flag someone as a potential money launderer or
                        terrorist financier, and the financial institution can take action based on that flag (report
                        them to authorities, ban them from using their service, etc). In essence, KYC also helps
                        financial institutions minimize their exposure to counterparty risk and working with bad actors.&nbsp;</p>
                    <p>At a high level, KYC involves 3 things:</p>
                    <ul role="list">
                        <li><strong>Customer identification</strong>: the company collects and verifies personal
                            information from the customer. This information may include a user’s name, address, and
                            government-issued ID. The goal is to confirm the customer’s identity.
                        </li>
                        <li><strong>Due diligence</strong>: the company examines the customer’s background, including
                            their source of funds and business activities. It also checks for potential connections to
                            sanctioned individuals, companies, or countries. The goal is to ensure that they are not on
                            any watchlists or sanctions lists.
                        </li>
                        <li><strong>Ongoing KYC monitoring</strong>: the company periodically reviews and updates the
                            customer’s information. Continuous monitoring updates the customer’s information to check
                            for suspicious activity and to keep risk profiles accurate.&nbsp;&nbsp;
                        </li>
                    </ul>
                    <h2 id="the-“contradiction”-of-defi-kyc">The “Contradiction” of DeFi KYC</h2>
                    <p>As you can imagine, the typical KYC process is centralized and invasive. Users hand sensitive
                        personal information to companies that then use that information to determine whether the
                        individual can, in fact, use the product. Sometimes the KYC process is outsourced to firms like
                        <a href="https://www.kompli-global.com/index.html" rel="noopener noreferrer">Kompli-Global</a>
                        and<a href="https://www.amlexa.com/" rel="noopener noreferrer"> Amlexa</a>, further centralizing
                        a honeypot of user information. Because KYC is so centralized, implementing it in DeFi can be
                        seen as antithetical to DeFi itself.&nbsp;</p>
                    <p>Part of the appeal of DeFi is that users can participate anonymously, they can use products
                        frictionlessly, and no entity can prevent an individual from accessing the protocol. KYC removes
                        that anonymity, introduces friction, and ultimately will prevent some users from being able to
                        use certain DeFi products. That’s the contradiction of DeFi KYC.</p>
                    <p>Another challenge with it is simply the logistics in implementing KYC. DeFi apps are
                        permissionless by default and available to users all over the world. Different countries and
                        regions have different regulations, and you may have a hard time implementing the appropriate
                        level of KYC for each user.&nbsp;</p>
                    <p>Despite the challenges with DeFi KYC, you may still be able to implement a KYC process without
                        making your app centralized. For instance, decentralized identity solutions like<a
                                href="https://web.fractal.id/" rel="noopener noreferrer"> Fractal</a> and<a
                                href="https://polygon.technology/polygon-id" rel="noopener noreferrer"> Polygon ID</a>
                        can help verify user identity while ensuring privacy. A decentralized oracle like<a
                                href="https://clique.social/" rel="noopener noreferrer"> Clique</a> provides on-chain ID
                        and reputation management, and zero-knowledge proof projects like<a
                                href="https://photochromic.io/" rel="noopener noreferrer"> Photochromic</a> can help
                        users prove their identity without revealing their identity details. DeFi KYC solutions can also
                        be designed to support data portability, such that users need to pass KYC once and then use that
                        verified ID across other Web3 apps and DeFi protocols.</p>
                    <h2 id="why-defi-kyc-benefits-both-founders-and-usersnbsp">Why DeFi KYC Benefits Both Founders and
                        Users&nbsp;</h2>
                    <p>While KYC sounds like a drag (no one gets excited about verification), it can be more than just
                        another regulation to follow—it can be a positive for the DeFi industry. Here are two benefits
                        from DeFi KYC:</p>
                    <h3>Reducing Reputational Risk for DeFi</h3>
                    <p>An estimated<a href="https://www.unodc.org/unodc/en/money-laundering/overview.html"
                                      rel="noopener noreferrer"> $800B to $2T</a>, between 2% and 5% of the global GDP,
                        is laundered annually, and <a href="https://www.bbc.com/news/technology-60072195"
                                                      rel="noopener noreferrer">$9B of that total</a> occurred in
                        crypto. 99% of money laundering happens in fiat (!), but nevertheless it’s important to take
                        actions that prevent laundering because part of that money goes into terror and arms
                        proliferation financing. KYC will force criminals to rethink using your dApp because their
                        transactions might be flagged and reported to law enforcement agencies. By making it difficult
                        for bad actors to use your DeFi app, you can help reduce the reputational risk for DeFi projects
                        overall and make a safer space for your users.</p>
                    <h3>Complying With Regulations&nbsp;</h3>
                    <p>KYC is a regulatory requirement for financial service providers, including DeFi platforms. Many
                        countries—including the United States, United Kingdom, and France—<a
                                href="https://www.thomsonreuters.com/en-us/posts/wp-content/uploads/sites/20/2022/04/Cryptos-Report-Compendium-2022.pdf"
                                rel="noopener noreferrer">require crypto businesses to implement KYC processes</a>. This
                        requirement may&nbsp; become more standard as other countries formalize their crypto
                        regulations. By creating systems to verify the identity of your users and comply with KYC/AML,
                        you can avoid possibly paying hefty fines for not being compliant with the corresponding
                        regulations. No hefty fines means you can have an easier time keeping the lights on.</p>
                    <h2 id="5-things-to-keep-in-mind-when-implementing-kyc-solutions">5 Things to Keep in Mind When
                        Implementing KYC Solutions</h2>
                    <p>Implementing KYC generally involves collecting user information, verifying it, and authenticating
                        those users. The following tips may help you implement a KYC process in Web3 projects while
                        staying true to the core principles of decentralization—privacy and user autonomy. However—and
                        this should go without saying—<strong>you should consult a lawyer before implementing any form
                            of KYC.</strong></p>
                    <h3>Use Trusted Third-Party KYC Providers</h3>
                    <p>The easiest way to manage KYC in Web3 projects is to use the services of existing KYC providers.
                        Third-party solutions make it easier for you to focus on your core business instead of deploying
                        resources to build KYC processes from scratch. Services such as<a href="https://argoskyc.com/"
                                                                                          rel="noopener noreferrer">
                            Argos</a> and<a href="https://sumsub.com/" rel="noopener noreferrer"> Sumsub</a> (DYOR)
                        enable you to set up plug-and-play verification flows that align with your user onboarding
                        process.&nbsp;</p>
                    <h3>Enhance Security With Multi-Factor Authentication</h3>
                    <p>Whether using a third-party service or managing KYC in-house, requiring multiple forms of
                        identity verification can help reduce the use of fake documents or outright identity fraud. For
                        instance, you can ask users to upload a government-issued ID and a selfie of them holding it.&nbsp;</p>
                    <h3>Use Decentralized Identity Solutions</h3>
                    <p>Decentralized identity solutions, such as<a
                            href="https://www.okta.com/identity-101/self-sovereign-identity/" rel="noopener noreferrer">
                        self-sovereign identity (SSI) protocols</a>, allow users to control and manage their identity
                        information. With SSI, users hold the keys to their identity and can share information
                        selectively. This level of control ensures their privacy as they can choose who they share the
                        ID data with. Decentralized ID solutions can help you implement KYC while staying true to the
                        principle of open access.</p>
                    <h3>Use Decentralized Web3 Oracles</h3>
                    <p>Web3 oracles are trusted third-party solutions that enable Web3 apps to access off-chain
                        information. Research projects like<a href="https://research.chain.link/deco.pdf"
                                                              rel="noopener noreferrer"> DECO</a> and<a
                                href="https://eprint.iacr.org/2020/934.pdf" rel="noopener noreferrer"> CanDID</a> are
                        already exploring how oracles can use zero-knowledge proofs to verify the identities of users
                        without requiring them to share their personal information with a central entity. Chainlink is
                        working on a<a href="https://www.deco.works/" rel="noopener noreferrer"> DECO proof of
                            concept</a> for DeFi applications. When fully developed, decentralized oracles can enhance
                        the security and privacy of users’ information while still allowing for KYC verification.</p>
                    <h3>Know Your Tradeoffs</h3>
                    <p>Some people will only use completely anonymous platforms. When considering whether to implement
                        KYC (in consultation with a lawyer), know who you are building a product for and make sure that
                        the decision you ultimately make is true to your brand and values.</p>
                    <h2 id="get-started-with-your-first-web3-app">Get Started With Your First Web3 App</h2>
                    <p>If you’re still in the early stages of building your Web3 app, consult a lawyer to determine what
                        KYC requirements you may be subject to, if any. It’s better to be proactive about the issue than
                        deal with KYC retroactively and face the risk of regulatory fines.</p>
                    <p>If you’re new to Web3 apps, you may also benefit from our<a
                            href="https://www.hiro.so/blog/download-hiros-guide-to-web3-app-development"> Comprehensive
                        Guide to Web3 App Development</a>. In the ebook, we run through the process of developing Web3
                        apps. We also provide some pointers to help you get comfortable with Web3 developer tools,
                        connect your app to the blockchain, and ship your app.</p></div>
                <div id="light-box" class="lightbox-wrapper"><a href="#"
                                                                class="lightbox-link w-inline-block w-condition-invisible w-dyn-bind-empty w-lightbox"
                                                                aria-label="open lightbox" aria-haspopup="dialog"><img
                        src="" loading="lazy" alt="" class="lightbox-image w-dyn-bind-empty">
                    <div class="lightbox-description-text w-dyn-bind-empty"></div>
                    <script type="application/json" class="w-json">{
                        "items": [],
                        "group": ""
                    }</script>
                </a></div>
                <div class="contains-code"></div>
            </div>

        </div>
    </section>

</main>
</body>
</html>