<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{blog/layout/master}">
<head>
    <meta charset="UTF-8">
    <title>From Early Adopters to the Mass Market: Tracking Blockchain
        Adoption Through the Hype Cycle</title>
</head>
<body>
<main layout:fragment="content"  class="main-wrapper">
    <section class="section-5 blog-post-section wf-section">
        <div class="blog-post-container grid">
            <div id="w-node-_5fceba50-c8c5-632f-9926-7d0dbef4cd8f-96db361b" class="column"><h1
                    class="blog-post-heading-1 margin-bot-l">From Early Adopters to the Mass Market: Tracking Blockchain
                Adoption Through the Hype Cycle</h1>
                <p class="text-big w-dyn-bind-empty"></p>
                <div class="rich-text-hero w-richtext"><p>Are you wondering whether building Web3 applications is worth
                    the effort? The concern is valid, considering how critics and skeptics often dismiss Web3 as a
                    hype-driven fad. The volatile nature of crypto, the skittish nature of its investors, and the
                    sell-offs that <a
                            href="https://www.cnbc.com/2022/11/11/crypto-peaked-in-nov-2021-investors-lost-more-than-2-trillion-since.html"
                            rel="noopener noreferrer">wipe out trillions</a> in market cap are all valid worries. Yet
                    blockchain adoption trends are promising.</p></div>
            </div>
            <div id="w-node-_5fceba50-c8c5-632f-9926-7d0dbef4cd94-96db361b" class="column">
                <div class="story-details">
                    <div class="story-details-header">
                        <div class="blog-post-label-small text-dark">Story details</div>
                    </div>
                    <div class="story-details-list">
                        <div class="story-details-item first-one">
                            <div class="text-xs">Type</div>
                            <a href="/types/deep-dive" class="story-type w-inline-block">
                                <div class="label-xs text-dark">Deep dive</div>
                            </a></div>
                        <div class="story-details-divider"></div>
                        <div class="story-details-item">
                            <div class="text-xs">Topic(s)</div>
                            <div class="w-dyn-list">
                                <div role="list" class="topic-list max-width-xxs w-dyn-items">
                                    <div role="listitem" class="blog-post-topic-item w-dyn-item">
                                        <div class="topic-wrapper blog-topic">
                                            <div style="color:#e1a328" class="blog-post-label-small">‘</div>
                                            <a style="color:#e1a328" href="/blog-categories/bitcoin"
                                               class="story-topic-link">Bitcoin</a>
                                            <div style="color:#e1a328" class="blog-post-label-small">’</div>
                                        </div>
                                    </div>
                                    <div role="listitem" class="blog-post-topic-item w-dyn-item">
                                        <div class="topic-wrapper blog-topic">
                                            <div style="color:hsla(0, 100.00%, 66.27%, 1.00)"
                                                 class="blog-post-label-small">‘
                                            </div>
                                            <a style="color:hsla(0, 100.00%, 66.27%, 1.00)"
                                               href="/blog-categories/blockchain"
                                               class="story-topic-link">Blockchain</a>
                                            <div style="color:hsla(0, 100.00%, 66.27%, 1.00)"
                                                 class="blog-post-label-small">’
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="story-details-divider"></div>

                        <div class="story-details-divider"></div>
                        <div class="story-details-item">
                            <div class="text-xs">Author(s)</div>
                            <div class="w-dyn-list">
                                <div role="list" class="w-dyn-items">
                                    <div role="listitem" class="author-blog w-dyn-item">
                                        <div class="tooltip-left author-tip">
                                            <div class="tooltip-wrapper">
                                                <div class="text-small no-margin">Content Marketing Manager</div>
                                            </div>
                                            <div class="tooltip-chevron-right w-embed">
                                                <svg width="8" height="16" viewBox="0 0 8 16" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M7.69111 7.29289C8.10296 7.68342 8.10296 8.31658 7.69111 8.70711L9.79208e-07 16L2.79826e-07 3.49691e-07L7.69111 7.29289Z"
                                                          fill="#171717"></path>
                                                </svg>
                                            </div>
                                        </div>
                                        <div data-w-id="b6ff2e22-a4e3-9561-cb3b-ab57abcf5672"
                                             class="blog-post-label-small blog-post-author">Max Crawford
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog-post-container grid">
            <div id="w-node-_5fceba50-c8c5-632f-9926-7d0dbef4cdd0-96db361b" class="column">
                <div class="blog-post-image-wrapper"><img
                        src="https://assets-global.website-files.com/5ff21113877dd79ed7913b57/64529379e66b32b41755d771_Hiro-blog-hc.jpg"
                        loading="lazy" alt="Unpacking the hype cycle" class="blog-post-image"></div>
            </div>
        </div>
        <div class="blog-post-container grid">
            <div id="w-node-_5fceba50-c8c5-632f-9926-7d0dbef4cdd4-96db361b" class="column contents">
                <div class="blog-post-content-wrapper">
                    <div class="blog-post-table-content">
                        <div class="label-xs text-slate-300 margin-bot-xxs">Contents</div>
                        <div class="story-details-divider"></div>
                        <div id="toc" class="table-content-list">
                            <div class="tocitem active"></div>
                            <a class="tocitem" href="#the-hype-cycle-of-new-technology"
                               style="font-weight: 500 !important;">The Hype Cycle of New Technology</a><a
                                class="tocitem" href="#how-web3-maps-onto-gartner’s-hype-cycle"
                                style="font-weight: 500 !important;">How Web3 Maps Onto Gartner’s Hype Cycle</a><a
                                class="tocitem" href="#how-to-unlock-web3’s-next-hype-cycle"
                                style="font-weight: 500 !important;">How To Unlock Web3’s Next Hype Cycle</a><a
                                class="tocitem" href="#dive-into-web3-now-we-are-still-in-the-earliest-days"
                                style="font-weight: 500 !important;">Dive Into Web3 Now; We Are Still in the Earliest
                            Days</a></div>
                    </div>
                </div>
            </div>
            <div id="w-node-_5fceba50-c8c5-632f-9926-7d0dbef4cdfc-96db361b" class="column size-100">
                <div id="content" class="rich-text w-richtext"><p>Hype may bring developers and entrepreneurs to Web3,
                    but they often end up staying to build during bear markets because of Web3’s potential to change the
                    world. So, what’s special about Web3, and why should you be optimistic about its future? Let’s find
                    out.</p>
                    <h2 id="the-hype-cycle-of-new-technology">The Hype Cycle of New Technology</h2>
                    <p>To understand Web3’s growth trajectory, you need context. Let’s start with <a
                            href="https://www.gartner.co.uk/en/methodologies/gartner-hype-cycle"
                            rel="noopener noreferrer">Gartner’s Hype Cycle</a>—a graphical representation of the life
                        cycle stages of a technology or innovation—to describe the adoption and maturity of new
                        technology.</p>
                    <figure class="w-richtext-figure-type-image w-richtext-align-fullwidth" style="max-width:962pxpx">
                        <div><img
                                src="https://assets-global.website-files.com/5ff21113877dd79ed7913b57/64529512798abf0e86f6f0c6_370163_0001.png"
                                loading="lazy" alt=""></div>
                        <figcaption><a href="https://www.gartner.com/en/documents/3887767" rel="noopener noreferrer">Source</a>
                        </figcaption>
                    </figure>
                    <p>&nbsp;Gartner’s hype cycle has five parts:&nbsp;</p>
                    <ul role="list">
                        <li><strong>The Innovation Trigger</strong> is the first stage of the hype cycle, where a new
                            technology or innovation enters the market for the first time and starts to generate
                            interest and excitement.
                        </li>
                        <li><strong>The Peak of Inflated Expectations</strong> is a period of intense hype and optimism
                            surrounding a new technology or innovation. People become overly optimistic about the
                            potential of the technology and its ability to solve problems.&nbsp;
                        </li>
                        <li><strong>The Trough of Disillusionment </strong>is a stage of disappointment and skepticism
                            about a new technology or innovation. This disillusionment occurs as a result of the
                            technology being unable to deliver on the promises and expectations of the previous
                            stage—the technology is too new and needs more time to mature.
                        </li>
                        <li><strong>The Slope of Enlightenment</strong> is when people start to gain a more realistic
                            understanding of the new technology and how it can be used. Builders begin to unlock the
                            tech’s potential, and use cases see mainstream adoption.
                        </li>
                        <li><strong>The Plateau of Productivity</strong> is the stage where the technology has matured
                            and become widely adopted. It is a time of relative stability: the innovation this tech
                            enables has saturated the market, and while new businesses and applications continue to
                            emerge and the overall market continues to grow, that growth is more modest than what came
                            before.
                        </li>
                    </ul>
                    <h2 id="how-web3-maps-onto-gartner’s-hype-cycle">How Web3 Maps Onto Gartner’s Hype Cycle</h2>
                    <p>We are still in the early days of Web3. Cryptocurrency is only about 14 years old, and smart
                        contracts roughly 8. In contrast, the internet is <a
                                href="https://www.usg.edu/galileo/skills/unit07/internet07_02.phtml#:~:text=In%20response%20to%20this%2C%20other,to%20communicate%20with%20each%20other."
                                rel="noopener noreferrer">40 years old</a>, but popular internet companies like Google,
                        Facebook, and Youtube are only 24, 19, and 18 years old respectively. Point being, it can take a
                        long time for mainstream applications to be built on new technology.</p>
                    <p>The typical innovation profiled in Gartner’s Hype Cycle progresses from an innovation trigger to
                        the final plateau of productivity. However, innovation doesn’t happen in a vacuum, and it can be
                        helpful to think of Gartner’s Hype Cycle as a continuous one, one in which each cycle leads into
                        the next—one plateau of productivity leads into a new innovation trigger, and a new cycle, with
                        overall growth continuing on an upward trajectory.</p>
                    <p>Through that lens, you can map three hype cycles onto Web3’s history to date, since Bitcoin first
                        launched in 2009, and you may be able to guess when those cycles occurred, based on a chart of
                        Bitcoin’s price over time.</p>
                    <figure class="w-richtext-figure-type-image w-richtext-align-fullwidth" style="max-width:1912pxpx">
                        <div><img
                                src="https://assets-global.website-files.com/5ff21113877dd79ed7913b57/645292ece4a7127e21fa7bd4_dd4e2b86.png"
                                alt=""></div>
                        <figcaption><a href="https://coinmarketcap.com/currencies/bitcoin/" rel="noopener noreferrer">Source</a>
                        </figcaption>
                    </figure>
                    <h3>Web3 Hype Cycle 1</h3>
                    <p>The first Web3 hype cycle started with <a
                            href="https://www.newyorker.com/magazine/2011/10/10/the-crypto-currency"
                            rel="noopener noreferrer">Bitcoin’s launch in 2009</a>, just after the 2007/2008 global
                        financial crisis. The innovation trigger was Bitcoin itself, a currency introduced as a
                        financial innovation that exists beyond the control of governments and free from the influence
                        of central banks.&nbsp;</p>
                    <p>The first Bitcoin transaction, in which someone <a
                            href="https://www.coindesk.com/markets/2020/05/22/10-years-after-laszlo-hanyecz-bought-pizza-with-10k-bitcoin-he-has-no-regrets/"
                            rel="noopener noreferrer">used 10,000 BTC to buy pizza</a>, validated Bitcoin as a means of
                        exchange and store of value. Unsurprisingly, hype has a high correlation to price. So soon
                        after, the hype cycle kicked off to take Bitcoin’s price up to $1,200+ before crashing back down
                        to $600+ as activity mellowed out in a trough of disillusionment. There wasn’t enough people
                        could <em>do</em> with Bitcoin yet. More infrastructure was needed.</p>
                    <h3>Web3 Hype Cycle 2</h3>
                    <p>The second hype cycle coincided with <a
                            href="https://techcrunch.com/2015/08/01/vapor-no-more-ethereum-has-launched/"
                            rel="noopener noreferrer">Ethereum’s launch in 2015</a>. The innovation trigger of this
                        cycle was the introduction of smart contracts and decentralized applications (dApps).</p>
                    <p>Many entrepreneurs and developers started experimenting with building blockchain applications.
                        There was an <a
                                href="https://news.crunchbase.com/fintech-ecommerce/2017s-ico-market-grew-nearly-100x-q1-q4/"
                                rel="noopener noreferrer">Initial Coin Offering (ICO) boom</a> in 2016-2017 that funded
                        the development of many different blockchains and apps, all in the hopes of unlocking mainstream
                        adoption for Web3.</p>
                    <p>However, the <a
                            href="https://www.hiro.so/blog/bitcoin-holds-the-secret-to-solving-the-trilemma-for-blockchain-platforms">blockchain
                        trilemma</a> was still a significant problem, and most projects couldn’t deliver on the promises
                        in their whitepapers. Many who raised funds from ICOs didn’t follow through on building, leading
                        to <a href="https://quantaloop.io/dead-coins-aka-shit-coins-101/" rel="noopener noreferrer">shitcoins</a>
                        and scams. As the hype peaked, Bitcoin hit $19,000, then crashed down to $6,000 in the following
                        trough of disillusionment. Crowd fervor and funding outpaced the reality: building decentralized
                        applications takes years, particularly in the early days where code libraries and tooling were
                        still in their infancy.</p>
                    <h3>Web3 Hype Cycle 3</h3>
                    <p>The third hype cycle started with the introduction of 3rd-generation blockchains and the rise of
                        DeFi and NFTs. New chains like <a href="https://www.stacks.co/"
                                                          rel="noopener noreferrer">Stacks</a> and <a
                                href="https://solana.com/" rel="noopener noreferrer">Solana</a> helped scale Web3 and
                        introduce new functionality, and DeFi and NFTs unlocked the first mainstream use cases of
                        decentralized technology.</p>
                    <p>During this cycle, there was also increased institutional adoption, and a sovereign nation (El
                        Salvador) even <a
                                href="https://www.nber.org/digest/202207/el-salvadors-experiment-bitcoin-legal-tender#:~:text=In%20September%202021%2C%20El,download%20a%20special%20cryptocurrency%20app."
                                rel="noopener noreferrer">recognized Bitcoin as a legal tender</a>. At its peak,
                        Bitcoin’s price skyrocketed to <a
                                href="https://www.coinbase.com/price/bitcoin#:~:text=The%20current%20price%20is%20%2427%2C947.03,circulating%20supply%20is%2019%2C341%2C175%20BTC."
                                rel="noopener noreferrer">almost $69,000</a>, and the total market cap of all
                        cryptocurrencies surged from around $195 billion in January 2020 to more than <a
                                href="https://coinmarketcap.com/charts/" rel="noopener noreferrer">$2.7 trillion by
                            November 2021</a>.&nbsp;</p>
                    <p>However, like all hype cycles, this one ended in another trough of disillusionment with the
                        failure of big Web3 projects like <a
                                href="https://www.coindesk.com/learn/the-fall-of-terra-a-timeline-of-the-meteoric-rise-and-crash-of-ust-and-luna/"
                                rel="noopener noreferrer">Luna</a> and <a
                                href="https://www.wsj.com/articles/ftx-and-sam-bankman-fried-your-guide-to-the-crypto-crash-11669375609"
                                rel="noopener noreferrer">FTX</a>. Bitcoin’s price crashed to $18,000, and the market
                        cap of the entire crypto industry dropped to less than $900 million, as the mercurial Web3 space
                        once again swung back into a bear market.</p>
                    <h3>What’s Next in the Web3 Hype Cycle?</h3>
                    <p>As is clear from the three hype cycles profiled above, Web3 grows in ebbs and flows. New
                        innovations in Web3 trigger a wave of hype and a bull run that later collapses into a bear
                        market as the limitations of those innovations are discovered. Then during that period of quiet,
                        entrepreneurs keep building, creating the infrastructure, use cases, and new innovations that
                        will spark the next cycle.</p>
                    <p>We are currently in one of those periods of quiet, a “crypto winter”, a trough of
                        disillusionment.&nbsp; But broadly speaking we are not even close to approaching a plateau of
                        enlightenment. In time, the next innovation trigger will set off another spike of growth and
                        adoption</p>
                    <h2 id="how-to-unlock-web3’s-next-hype-cycle">How To Unlock Web3’s Next Hype Cycle</h2>
                    <p>In the coming months and years, Web3 builders will unlock another innovation trigger, bringing
                        about the next hype cycle and an influx of new users and use cases. The question is what will
                        that innovation trigger be? Below are some challenges that present opportunities for unlocking
                        the next hype cycle.&nbsp;</p>
                    <h3>Simplify the Complexity of Web3</h3>
                    <p>Blockchains are really complex. The underlying technologies that power Web3—blockchain,
                        cryptography, and smart contracts—are technically complicated, which can make it difficult for
                        developers to build on.</p>
                    <p>One way to unlock the next hype cycle is to make it easier for developers to innovate and build
                        new Web3 apps. That’s where companies like <a href="https://www.hiro.so/">Hiro</a>, <a
                                href="https://www.alchemy.com/" rel="noopener noreferrer">Alchemy</a>, <a
                                href="https://indexer.xyz/" rel="noopener noreferrer">Indexer</a>, and more come in.
                        Among other things, they simplify Web3 development and abstract away the blockchain, empowering
                        developers to quickly build Web3 apps with easy-to-use tools and infrastructure.&nbsp;</p>
                    <p>Similarly, developers need to focus on creating better user experiences for consumers. Today, UX
                        in Web3 is bad: opening and funding a wallet requires a lot of steps (and time), and interacting
                        with smart contracts often provides zero context clues to users as to what will happen (as you
                        can imagine, this leads to many hacks). To onboard the next million users, better UX has to be a
                        priority for the space as a whole.</p>
                    <h3>Address Scalability Challenges&nbsp;</h3>
                    <p>The infrastructure that supports the Web3 industry still isn’t fully developed and is mostly
                        fragmented. As blockchain adoption increases, the limited infrastructure often leads to issues
                        with scalability—which slow the adoption of Web3 apps.</p>
                    <p>In 2017, the number of unconfirmed transactions stuck in Bitcoin’s mempool climbed to an all-time
                        high of <a
                                href="https://cointelegraph.com/news/unconfirmed-transactions-on-bitcoin-network-at-highest-level-since-2017"
                                rel="noopener noreferrer">more than 180K</a>. Many people who make Bitcoin transactions
                        during periods of high <a href="https://www.blockchain.com/explorer/charts/mempool-count"
                                                  rel="noopener noreferrer">mempool transaction count</a> often have to
                        wait hours and sometimes days for transactions to go through. As part of that congestion,
                        blockchain fees can vary wildly, which in turn causes a poor user experience. Users are used to
                        low fees and instant processing; paying $50 in transaction fees and waiting hours for a
                        transaction to go through is simply not good enough.</p>
                    <p>The development of Layer 2 solutions, rollups, and other scalability solutions across different
                        blockchain ecosystems could help trigger the next hype cycle for Web3 by enabling larger
                        influxes of people.</p>
                    <h3>Make Interoperability a Priority</h3>
                    <p>Web3 is still in its early stages of development, so there aren’t standardized protocols and
                        infrastructure across different ecosystems. Each Web3 ecosystem has its own blockchain protocol,
                        <a href="https://www.hiro.so/blog/bitcoin-ecosystem-a-guide-to-programming-languages-for-bitcoin-smart-contracts">Web3
                            programming language</a>, and community of users.</p>
                    <p>This limited interoperability often locks users within a blockchain ecosystem or forces them to
                        create multiple profiles across different ecosystems—which contributes to the overall complexity
                        of Web3.&nbsp;</p>
                    <p>To address this challenge, developers can contribute to open-source projects to develop
                        interoperability standards and bridges to connect various Web3 ecosystems together. Better
                        interoperability would enable users to more easily move assets between various Web3 apps and
                        ecosystems and encourage the creation of specialized blockchains designed for specific use
                        cases.</p>
                    <h2 id="dive-into-web3-now-we-are-still-in-the-earliest-days">Dive Into Web3 Now; We Are Still in
                        the Earliest Days</h2>
                    <p>We’ve only begun to scratch the surface of blockchain adoption. Web3 has the potential to disrupt
                        every industry, which means there are <a
                                href="https://www.hiro.so/blog/attention-bitcoin-developers-theres-a-trillion-dollar-opportunity-waiting-for-you">plenty
                            of opportunities</a> for Web3 entrepreneurs.&nbsp;</p>
                    <p>If you are interested in building Web3 applications that will unlock the next hype cycle but
                        aren’t quite sure how to get started, check out our comprehensive guide to Web3 development. It
                        includes everything you need to know about building Web3 apps, including Web3 programming
                        languages and developer tools.&nbsp;</p></div>
                <div id="light-box" class="lightbox-wrapper"><a href="#"
                                                                class="lightbox-link w-inline-block w-condition-invisible w-dyn-bind-empty w-lightbox"
                                                                aria-label="open lightbox" aria-haspopup="dialog"><img
                        src="" loading="lazy" alt="" class="lightbox-image w-dyn-bind-empty">
                    <div class="lightbox-description-text w-dyn-bind-empty"></div>
                    <script type="application/json" class="w-json">{
                        "items": [],
                        "group": ""
                    }</script>
                </a></div>
                <div class="contains-code"></div>
            </div>

        </div>
    </section>

</main>
</body>
</html>