<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{blog/layout/master}">
<head>
    <meta charset="UTF-8">
    <title>Navigating the Tension Between Web3 Privacy and Data
        Transparency</title>
</head>
<body>
<main layout:fragment="content"  class="main-wrapper">
    <section class="section-5 blog-post-section wf-section">
        <div class="blog-post-container grid">
            <div id="w-node-_5fceba50-c8c5-632f-9926-7d0dbef4cd8f-96db361b" class="column"><h1
                    class="blog-post-heading-1 margin-bot-l">Navigating the Tension Between Web3 Privacy and Data
                Transparency </h1>
                <p class="text-big w-dyn-bind-empty"></p>
                <div class="rich-text-hero w-richtext"><p>68% of internet users worldwide<a
                        href="https://www.statista.com/statistics/296700/personal-data-security-perception-online/?locale=en"
                        rel="noopener noreferrer"> feel more vulnerable</a> to identity theft than they did a few years
                    ago. These fears make sense when you consider how data breaches happen all the time. In 2020, the
                    login details of<a
                            href="https://www.forbes.com/sites/daveywinder/2020/04/28/zoom-gets-stuffed-heres-how-hackers-got-hold-of-500000-passwords/?sh=4f16534d5cdc"
                            rel="noopener noreferrer"> more than 500K Zoom users</a> were posted on the dark web, and in
                    2022, hackers leaked the email addresses of<a
                            href="https://www.theguardian.com/technology/2023/jan/05/twitter-users-data-hacked-email-address-phone-numbers"
                            rel="noopener noreferrer"> more than 200M Twitter users</a>. Those are just two of the
                    latest in a long history of breaches. All of these data breaches happened because of the structure
                    of the Internet as we know it.</p></div>
            </div>
            <div id="w-node-_5fceba50-c8c5-632f-9926-7d0dbef4cd94-96db361b" class="column">
                <div class="story-details">
                    <div class="story-details-header">
                        <div class="blog-post-label-small text-dark">Story details</div>
                    </div>
                    <div class="story-details-list">
                        <div class="story-details-item first-one">
                            <div class="text-xs">Type</div>
                            <a href="/types/deep-dive" class="story-type w-inline-block">
                                <div class="label-xs text-dark">Deep dive</div>
                            </a></div>
                        <div class="story-details-divider"></div>
                        <div class="story-details-item">
                            <div class="text-xs">Topic(s)</div>
                            <div class="w-dyn-list">
                                <div role="list" class="topic-list max-width-xxs w-dyn-items">
                                    <div role="listitem" class="blog-post-topic-item w-dyn-item">
                                        <div class="topic-wrapper blog-topic">
                                            <div style="color:hsla(0, 100.00%, 66.27%, 1.00)"
                                                 class="blog-post-label-small">‘
                                            </div>
                                            <a style="color:hsla(0, 100.00%, 66.27%, 1.00)"
                                               href="/blog-categories/blockchain"
                                               class="story-topic-link">Blockchain</a>
                                            <div style="color:hsla(0, 100.00%, 66.27%, 1.00)"
                                                 class="blog-post-label-small">’
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="story-details-divider"></div>

                        <div class="story-details-divider"></div>
                        <div class="story-details-item">
                            <div class="text-xs">Author(s)</div>
                            <div class="w-dyn-list">
                                <div role="list" class="w-dyn-items">
                                    <div role="listitem" class="author-blog w-dyn-item">
                                        <div class="tooltip-left author-tip">
                                            <div class="tooltip-wrapper">
                                                <div class="text-small no-margin">Content Marketing Manager</div>
                                            </div>
                                            <div class="tooltip-chevron-right w-embed">
                                                <svg width="8" height="16" viewBox="0 0 8 16" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M7.69111 7.29289C8.10296 7.68342 8.10296 8.31658 7.69111 8.70711L9.79208e-07 16L2.79826e-07 3.49691e-07L7.69111 7.29289Z"
                                                          fill="#171717"></path>
                                                </svg>
                                            </div>
                                        </div>
                                        <div data-w-id="b6ff2e22-a4e3-9561-cb3b-ab57abcf5672"
                                             class="blog-post-label-small blog-post-author">Max Crawford
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog-post-container grid">
            <div id="w-node-_5fceba50-c8c5-632f-9926-7d0dbef4cdd0-96db361b" class="column">
                <div class="blog-post-image-wrapper"><img
                        src="https://assets-global.website-files.com/5ff21113877dd79ed7913b57/644a9fc992bd515db88adbf7_privacy.jpg"
                        loading="lazy" alt="User Privacy in the Age of Public Data" class="blog-post-image"></div>
            </div>
        </div>
        <div class="blog-post-container grid">
            <div id="w-node-_5fceba50-c8c5-632f-9926-7d0dbef4cdd4-96db361b" class="column contents">
                <div class="blog-post-content-wrapper">
                    <div class="blog-post-table-content">
                        <div class="label-xs text-slate-300 margin-bot-xxs">Contents</div>
                        <div class="story-details-divider"></div>
                        <div id="toc" class="table-content-list">
                            <div class="tocitem active"></div>
                            <a class="tocitem" href="#the-problems-with-data-privacy-in-web2"
                               style="font-weight: 500 !important;">The Problems with Data Privacy in Web2</a><a
                                class="tocitem" href="#data-privacy-in-the-web3-industry"
                                style="font-weight: 500 !important;">Data Privacy in the Web3 Industry</a><a
                                class="tocitem" href="#the-tension-between-transparency-and-web3-privacy"
                                style="font-weight: 500 !important;">The Tension Between Transparency and Web3
                            Privacy</a><a class="tocitem" href="#the-state-of-web3-privacy-todaynbsp"
                                          style="font-weight: 500 !important;">The State of Web3 Privacy Today&nbsp;</a><a
                                class="tocitem" href="#start-building-apps-that-can-enhance-user-privacynbsp"
                                style="font-weight: 500 !important;">Start Building Apps That Can Enhance User Privacy&nbsp;</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="w-node-_5fceba50-c8c5-632f-9926-7d0dbef4cdfc-96db361b" class="column size-100">
                <div id="content" class="rich-text w-richtext"><p>Web3 offers a secure alternative because it doesn't
                    require users to submit personal information. The challenge, however, is that a lot of data
                    generated when using Web3 apps is stored transparently and publicly on blockchains. So while a
                    user’s personal data might be safe, their account balances and transaction history are visible to
                    the public. We’ll explore that tension further, but first, let’s back up and give some context.</p>
                    <h2 id="the-problems-with-data-privacy-in-web2">The Problems with Data Privacy in Web2</h2>
                    <p>Today, data is the oil on which the machinery of the digital economy runs. Many Web2 businesses
                        monitor and collect user data as part of<a
                                href="https://theconversation.com/explainer-what-is-surveillance-capitalism-and-how-does-it-shape-our-economy-119158"
                                rel="noopener noreferrer"> surveillance capitalism</a>. To use Web2 products and
                        services, users must provide information about their identity when they sign up. After signing
                        up, their activities across these services generate tons of data. Those services can then
                        package that data to advertisers who pay to have their products advertised to users based on
                        that data, and, in exchange, users get free (or discounted) products. That’s the way Web2 often
                        works, and that comes with problems.</p>
                    <h3>Users Have Little Control Over Their Data</h3>
                    <p>Large companies like Facebook and Google have ultimate control over the data generated by their
                        users. Of course, not all data collection is bad. Businesses may need to collect data to know
                        how to improve their services, and personalization makes for a better user experience.&nbsp;</p>
                    <p>The challenge is the lack of transparency. Users have little visibility into what data is being
                        collected, how it is used, and who can access it. For example, these companies often sell data
                        to third parties, and their users don’t even know it. This monetization of data is part of the
                        reason why users see hyper-targeted personalized ads.</p>
                    <p>Web2 services use algorithms to process user data and make predictions about users’ interests or
                        behavior, and those models may have data biases. Users may be presented with ads or content that
                        reinforces existing cultural biases or even be discriminated against based on their race,
                        gender, or other personal characteristics.&nbsp;</p>
                    <p>It’s hard to distinguish between fair and intrusive data collection—Web2 platforms often have
                        opaque data collection practices. The data collection is backed by lengthy terms of service
                        agreements or privacy policies that users are unlikely to read or understand. When’s the last
                        time you read a terms of service document and thought to yourself “ok, I get it”? Still other
                        platforms may collect data through third-party trackers, which can be invisible to users and
                        difficult to identify.&nbsp;</p>
                    <h3>Centralized Data Has Single Points of Failure&nbsp;</h3>
                    <p>The client-server architecture and the centralized databases in Web2 also often create a single
                        point of failure. If the central entity that stores the data is compromised, all of the data
                        stored within it is at risk. The company could suffer data loss or service downtime, and even
                        worse user data could be compromised, making them vulnerable to identity theft or blackmail.&nbsp;</p>
                    <p>In 2022, the U.S. recorded<a
                            href="https://www.statista.com/statistics/273550/data-breaches-recorded-in-the-united-states-by-number-of-breaches-and-records-exposed/"
                            rel="noopener noreferrer"> 1,802 cases of data breaches</a>, leading to data compromises for
                        more than 422M people. In 2022, the average total cost of a data breach was<a
                                href="https://www.ibm.com/downloads/cas/3R8N1DZJ" rel="noopener noreferrer"> $4.35
                            million</a>. 60% of companies that suffered data breaches passed the cost on to their
                        customers through<a
                                href="https://newsroom.ibm.com/2022-07-27-IBM-Report-Consumers-Pay-the-Price-as-Data-Breach-Costs-Reach-All-Time-High"
                                rel="noopener noreferrer"> increased prices</a>.&nbsp;&nbsp;</p>
                    <p>The worst part is that users may not know their data is compromised until criminals have sold or
                        used their data. Criminals could use the stolen data to create new IDs, rack up credit card
                        debt, or commit other crimes in the name of unsuspecting people. In 2022, many tech companies,
                        including Nvidia and Samsung,<a
                                href="https://techcrunch.com/2022/12/27/badly-handled-data-breaches-2022/"
                                rel="noopener noreferrer"> suffered data breaches</a> without disclosing the extent and
                        impact of the breaches.&nbsp;</p>
                    <p>Web2 platforms claim to offer some privacy protection through security software and privacy
                        policies. Privacy-focused regulations, like GDPR, are also designed to protect users' privacy.
                        However, these measures are insufficient when considering scandals such as<a
                                href="https://www.wired.com/story/cambridge-analytica-facebook-privacy-awakening/"
                                rel="noopener noreferrer"> Cambridge Analytica's unauthorized access</a> to users'
                        private data on Facebook.&nbsp;</p>
                    <h2 id="data-privacy-in-the-web3-industry">Data Privacy in the Web3 Industry</h2>
                    <p>Web3 has gained traction because it offers an alternative to centralized tech companies that
                        handle data irresponsibly (among other reasons). Web3 enhances data privacy by eliminating the
                        need for users to share private data before using digital services. All users need to do is
                        connect to an app or service via a pseudonymous wallet—a digital wallet that uses a pseudonym or
                        alias (a string of letters and numbers, in this case) to identify the wallet owner. No more
                        submitting personal info, be it name, email address, phone number or something else, in order to
                        use an app.</p>
                    <p>This means that if a Web3 service is compromised, the attacker won't find any personal
                        information of users, such as home addresses or dates of birth, because users never gave that
                        information to the service in the first place. In addition, users can create as many wallets as
                        they like to increase the number of aliases they use for transactions.&nbsp;</p>
                    <p>Web3 also enhances data privacy by giving users control over their data. &nbsp;They can choose
                        what data to share or who to share data with. Web3 services such as<a
                                href="https://streamr.network/" rel="noopener noreferrer"> Streamr</a> allow users to
                        opt into the data economy to monetize their data through<a href="https://dataunions.org/"
                                                                                   rel="noopener noreferrer"> Data
                            Unions</a>. Other Web3 services without a data economy often have business models that let
                        users earn a share of the economic returns.</p>
                    <p>However, Web3 apps also face some data privacy challenges arising from the differences between
                        on-chain and off-chain data. On-chain data refers to data that is stored directly on the
                        blockchain (this data is not private!). Off-chain data refers to data stored outside of the
                        blockchain, such as on centralized servers or decentralized file storage systems like IPFS.
                        Off-chain data can also be vulnerable to the centralization risks found in Web2.</p>
                    <h2 id="the-tension-between-transparency-and-web3-privacy">The Tension Between Transparency and Web3
                        Privacy</h2>
                    <p>In its earliest days, crypto acquired a reputation as the<a
                            href="https://www.wired.com/story/silk-road-bitcoin-seizure-james-zhong/"
                            rel="noopener noreferrer"> currency of choice</a> for people who wanted to hide their
                        financial activities. This reputation led many to believe that crypto enabled financial privacy.
                    </p>
                    <p>However, <em>blockchains are not private</em>; the whole point is that they are public databases.
                        Blockchains are permissionless and open ledgers—anyone can run a node to keep a copy of the
                        ledger, and everybody can see all of the recorded transactions. You can think of a blockchain as
                        a Twitter feed of your bank account, and every transaction is broadcasted like tweets across the
                        entire network.</p>
                    <p>Importantly, crypto transactions are only pseudonymous, not anonymous—meaning the transactions
                        happen through wallets that identify users with “aliases” rather than their official IDs.
                        However, such transactions are not anonymous because it is still possible to connect wallets or
                        transactions to owners through blockchain forensic analysts or cross-chain graphing, among other
                        methods. Services such as Chainalysis have also found ways to peel off the layer of pseudonymity
                        to<a href="https://blog.chainalysis.com/reports/blockchain-analysis-national-security-law-enforcement/"
                             rel="noopener noreferrer"> link crypto transactions</a> to real-world entities.&nbsp;</p>
                    <p>Beyond transparency, the immutability of blockchains also impacts Web3 privacy. It is challenging
                        to alter or delete data written on a blockchain, if it can be done at all (it usually can’t).
                        While this permanence enhances data integrity and security, it becomes an issue if there's a
                        need<strong> </strong>to delete on-chain data. For example, how should we think about GDPR
                        considerations, such as the<a href="https://gdpr.eu/right-to-be-forgotten/"
                                                      rel="noopener noreferrer"> right to be forgotten</a>, with
                        on-chain data?</p>
                    <h2 id="the-state-of-web3-privacy-todaynbsp">The State of Web3 Privacy Today&nbsp;</h2>
                    <p>The state of Web3 privacy today is still a work in progress to balance transparency with data
                        privacy. Several Web3 privacy solutions are being developed that could enhance user privacy.
                        Cryptographic techniques such as<a
                                href="https://coinmarketcap.com/alexandria/glossary/ring-ct-confidential-transactions"
                                rel="noopener noreferrer"> RingCT</a> (Ring Confidential Transactions) and<a
                                href="https://consensys.net/blog/developers/introduction-to-zk-snarks/"
                                rel="noopener noreferrer"> zero-knowledge proofs</a> can obscure transaction amounts and
                        origins. Several Web3 projects, such as<a href="https://aztec.network/"
                                                                  rel="noopener noreferrer"> Aztec</a> and<a
                                href="https://z.cash/" rel="noopener noreferrer"> Zcash</a>, already use this technology
                        to offer increased privacy.</p>
                    <p>Privacy coins such as<a href="https://www.getmonero.org/" rel="noopener noreferrer"> Monero</a>
                        and<a href="https://www.dash.org/" rel="noopener noreferrer"> Dash</a> also offer increased
                        privacy by protecting users against financial surveillance. Privacy coins use shielded sets of
                        transactions to obfuscate transfers and make it harder to identify parties in a trade.</p>
                    <p>There are also decentralized identity projects, such as <a href="https://www.verida.network/"
                                                                                  rel="noopener noreferrer">Verida</a>
                        and<a href="https://polygon.technology/polygon-id" rel="noopener noreferrer"> Polygon ID</a>,
                        among others,&nbsp; that are working on Web3 privacy. They use DIDs (Decentralized Identifiers)
                        to create a more user-centric approach to identity management and zero-knowledge proofs—enabling
                        users to prove their identity without revealing or sharing details of their identity.</p>
                    <p>Strengthening Web3 privacy without sacrificing transparency is still a challenge, but these
                        promising developments (and others) offer hope for a more secure and private digital future.</p>
                    <h2 id="start-building-apps-that-can-enhance-user-privacynbsp">Start Building Apps That Can Enhance
                        User Privacy&nbsp;</h2>
                    <p>Privacy is a normal human desire. People have things they want to keep private, like healthcare
                        records or their contact information. Web3’s lack of user data makes it better positioned to
                        meet the desire for online privacy than Web2, but the fact that transactions are public
                        introduces its own privacy complications that are still being researched and worked on.</p>
                    <p>If you'd like to know how to build apps that are better positioned to meet users' privacy needs,
                        our comprehensive guide to Web3 development is a great starting point. The guide discusses many
                        ideas, including the basics of smart contracts and how to connect your dApp to a blockchain.</p>
                </div>
                <div id="light-box" class="lightbox-wrapper"><a href="#"
                                                                class="lightbox-link w-inline-block w-condition-invisible w-dyn-bind-empty w-lightbox"
                                                                aria-label="open lightbox" aria-haspopup="dialog"><img
                        src="" loading="lazy" alt="" class="lightbox-image w-dyn-bind-empty">
                    <div class="lightbox-description-text w-dyn-bind-empty"></div>
                    <script type="application/json" class="w-json">{
                        "items": [],
                        "group": ""
                    }</script>
                </a></div>
                <div class="contains-code"></div>
            </div>


        </div>
    </section>

</main>
</body>
</html>