<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master}">
<head>
    <meta charset="UTF-8">
    <title>Freya - Coinnich</title>
</head>
<body>
<div layout:fragment="content">

    <!--begin::Content-->
    <div id="kt_app_content" class="app-content flex-column-fluid">
        <!--begin::Content container-->
        <div id="kt_app_content_container" class="app-container container-xxl">
            <!--begin::Card-->
            <div class="card">
                <!--begin::Card body-->
                <div class="card-body">
                    <!--begin::Heading-->
                    <div class="card-px text-center pt-15 pb-15">
                        <!--begin::Title-->
                        <h2 class="fs-2x fw-bold mb-0">Add to current contract</h2>
                        <!--end::Title-->
                        <!--begin::Description-->
                        <p class="text-gray-400 fs-4 fw-semibold py-7">
                            to top up on the current contract payment
                            <!--end::Description-->

                        <form class="mx-auto w-100 mw-600px pt-15 pb-10 fv-plugins-bootstrap5 fv-plugins-framework" method="post" action="/shop/topup">
                        <div class="mb-10 fv-row fv-plugins-icon-container">
                            <!--begin::Label-->
                            <label class="form-label mb-3">
                                <span class="required">Top Up Amount</span>
                            </label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input type="text" class="form-control form-control-lg form-control-solid" name="amount" placeholder="amount" value="0" autocomplete="off">
                            
                            <!--end::Input-->
                            <button class="btn btn-primary er fs-6 px-8 py-4" type="submit" name="submit">buy</button>

                        </form>

                    </div>
                    <!--end::Heading-->

                </div>
                <!--end::Card body-->
            </div>
            <!--end::Card-->
        </div>
        <!--end::Content container-->
    </div>
    <!--end::Content-->
</div>
</body>
</html>